#homeOfflinePage {
  .slider-slide > div {
    height: $heightMinCarouselOffline;

    img {
      height: 100%;
      width: 100%;
    }
  }
}


#homeOnlinePage {
  .slider {
    height: 35% !important;
  }

  .slider-frame, .slider-list, .slider-slide {
    height: 100% !important;
  }

  .slider-slide > div {
    height: 100%;
    padding: -1px;
  }
}

.slider {
  border: 1px solid #888;
}
