@mixin drawerLeft($width) {
  background-color: white;
  height: 100%;
  width: $width;
}

#drawerLeftExtended {
  @include shadowBox($gray);
  @include drawerLeft(map-get($widthDrawerLeft, mobile));
  @include respond-to(medium) {
    width: map-get($widthDrawerLeft, medium);
  }
  @include respond-to(large) {
    width: map-get($widthDrawerLeft, large);
  }
}

#drawerLeftReduced {
  display: none;
}

#drawerLeftExtended > div {
  width: 100% !important;
}

#drawerLeftExtended > div > div{
  padding: 0px !important;
}

#pageSelected {
  background-color: #FB8C00 !important;
  box-shadow: inset 0px 0px 10px 2px $gray ;
}

#pageSelected:hover {
  box-shadow: none;
}
