.form {
  background-color: $secondaryColor;
  overflow: auto;
  text-align: center;
  margin-bottom: $margin;

  @include respond-to(medium) {
    @include calc(width, "50%  - 2 * " + $margin);
  };

  .form-text {
    display: block;
    padding: 3px 0px;
  }

  .form-button {
    margin-bottom: 15px;
    margin-top: 20px;
  }

  .form-title {

  }

  .form-error {
    font-size: 70%;
    display: none;
  }

  .form-champ {
    height: 66px;
  }

  .form-validation {
    height: 83px;
  }

  .form-select-content {
    text-align: left;
  }

  .form-select-field {
    font-size: 14px;
    height: 66px;
  }

}

/* Cacher les fleches des Textfield de type="number" */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
