.form {
  background-color: $secondaryColor;
  margin-bottom: $margin;
  overflow: auto;
  text-align: center;
  @include respond-to(medium) {
    @include calc(width, "50%  - 2 * " + $margin);
  };

  .form-title {

  }

  .form-content {
    @include calc(height, "100% - " + $heightNavbar + " - 2 * " + $margin + " - " + 100px);
    overflow: auto;
    text-align: center;

    .form-text {
      display: block;
      padding: 3px 0px;
    }

    .form-champ {
      height: 66px;
    }

    .form-select-content {
      text-align: left;
    }

    .form-select-field {
      font-size: 14px;
      height: 66px;
    }

  }

  .form-validation {
    height: 83px;
  }

  .form-button {
    margin-bottom: 15px;
    margin-top: 20px;
  }

  .form-error {
    font-size: 70%;
    display: none;
  }

}

/* Cacher les fleches des Textfield de type="number" */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
