#navbar {
  height: $heightNavbar;
}

#iconSearchShowed {
  vertical-align: top;
  margin-right: $margin !important;
}

#iconSearchHidden {
  @extend #iconSearchShowed;
  display: none !important;
}

#inputSearchShowed {
  vertical-align: middle;
  margin-right: 2*$margin;
  font-size: 15px;
  padding: 5px;
}

#inputSearchHidden {
  @extend #inputSearchShowed;
  display: none;
}
