#navbar {
  height: $heightNavbar;
  * {
    color: $primaryColor !important;
  }
}

#iconSearchShowed {
  vertical-align: top;
  margin-right: $margin !important;
}

#iconSearchHidden {
  @extend #iconSearchShowed;
  display: none !important;
}

#inputSearchShowed {
  vertical-align: middle;
  margin-right: 2*$margin;
  font-size: 15px;
  padding: 5px;
  border: none;
  box-shadow: inset 0px 0px 10px 2px $gray ;
  background-color: $primaryColor;
  color: $secondaryColor !important;
}

#inputSearchShowed::-webkit-input-placeholder {
    color: $secondaryColor;
}
#inputSearchShowed:-moz-placeholder {
    color: $secondaryColor;
}
#inputSearchShowed::-moz-placeholder {
    color: $secondaryColor;
}
#inputSearchShowed:-ms-input-placeholder {
    color: $secondaryColor;
}

#inputSearchHidden {
  @extend #inputSearchShowed;
  display: none;
}

.iconNavbar {
  box-shadow: inset 0px 0px 10px 2px $gray ;
}

.iconNavbar:hover {
  box-shadow: none;
}
