@mixin searchController() {
  width: 100%;
  background-color: $secondaryColor;
}


$heightSearchSelector: 76px;
$paddingTopSearchSelector: 24px;
$heightTotalSearchSelector: $heightSearchSelector + $paddingTopSearchSelector;


.globalController {
  @include shadowBox($gray);
  margin-left: $margin;
  margin-right: $margin;
  margin-bottom: $margin;
  max-height: 100%;

  .deployController {
    @include searchController();
    height: $heightBtnDeploy;
    display: inline-flex;

    span {
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .searchSelector {
    height: $heightSearchSelector;
    padding-top: $paddingTopSearchSelector;
    vertical-align: top;
    text-align: center;
    display: none;
    width: 100%;

    .select {
      text-align: left;
      margin-top: -24px;
    }

    .text {
      margin-top: 10px;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
      width: 256px;
    }

    .slider {
      width: 256px;
      margin-left: auto;
      margin-right: auto;
    }

    .slider > div {
      margin-top: 2.5px !important;
      margin-bottom: 0px !important;
    }
  }

  .searchController {
    @include searchController();
    display: none;

    @include respond-to(medium) {
      display: block;
      height: $searchControllerHeigth;
      @for $i from 1 through 3 {
        .searchSelector:nth-child(#{$i}) {
          display: inline-block;
          @include calc(width, "100% / 3");
        }
      }
    };

    @include respond-to(large) {
      height: $searchControllerHeigth;
      @for $i from 1 through 4 {
        .searchSelector:nth-child(#{$i}) {
          display: inline-block;
          width: 25%;
          margin-left: 0px;
        }
      }
    };
  }

  .searchControllerDeploy {
    @include searchController();
    @include calc(height, "100% - " + $heightBtnDeploy);
    overflow: auto;

    .searchSelector {
      display: inline-block;
      width: 100%;
    }

    @include respond-to(medium) {
      @include calc(height, "100% - " + $heightBtnDeploy + " - 3 * " + $heightTotalSearchSelector);
      .searchSelector {
        @include calc(width, "100% / 3");
      }
    };

    @include respond-to(large) {
      @include calc(height, "100% - " + $heightBtnDeploy + " - 2 * " + $heightTotalSearchSelector);
      .searchSelector {
        width: 25%;
      }
    };
  }
}

.searchLittleController {

  padding: 10px 20px;

  .react-autosuggest__input {
    width: 70%;
    height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
  }

  .react-autosuggest__input:focus {
    outline: none;
  }

  .react-autosuggest__container--open .react-autosuggest__suggestions-container {
    width: 70%;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
  }

  .react-autosuggest__suggestion {
    cursor: pointer;
  }

  .react-autosuggest__suggestion--focused {
    background-color: #ddd;
  }

  .react-autosuggest__suggestions-list {
    margin: 2px;
    padding: 0;
    list-style-type: none;
  }

  .searchAvatar {
    margin-right: 2%;
  }

}
