#activityCreationPage {
  @include calc(height, "100% - 2 * " + $margin);
  @include calc(width, "100%  - 2 * " + $margin);
  margin: $margin;
  @include shadowBox($gray);

  @include respond-to(medium) {
    @include calc(width, '50% - 2 * ' + $margin);
    margin-left: auto;
    margin-right: auto;
  };

  .form-content {
    @include calc(height, "100% - 2 * " + $margin + " - " + 140px);
    overflow: auto;
  }

}
