#eventCreationPage {
  margin: 2%;

  @include respond-to(medium) {
    width: 48%;
    margin-left: auto;
    margin-right: auto;
  };

  .form {
    width: 100%;
    background-color: white;

    .form-event-validation {
      height: 15px;
    }
  }

  .form-stepper-content {
    text-align: center;
  }

  #linkCreateActivity {
    display: none;
  }

  .firstStep {
    @include shadowBox($gray);
    padding: 10px 20px;
    height: 85px;
  }

}
