#eventCreationPage {
  height: 100%;
  overflow: auto;
  //background-color: white;

  #eventCreationContent {
    margin: 2%;

    @include respond-to(medium) {
      width: 48%;
      margin-left: auto;
      margin-right: auto;
    };

    .form {
      width: 100%;

      .form-event-validation {
        height: 15px;
      }
    }

    .form-stepper-content {
      text-align: center;
    }

    #linkCreateActivity {
      display: none;
    }

    .step {
      //@include shadowBox($gray);
      padding: 10px 20px;
      height: 60%;
      overflow: auto;
    }

  }
}
