#homeOnlinePage {
  @include calc( width, '100% - 2 *' + $margin);
  @include calc( height, '100% - 2 *' + $margin);
  margin: $margin;
  h1 {
    margin: 0px;
  }
}

#homeOnlineText {
  height: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#homeOnline > div {
  height: 100%;
}
