#homeOnlinePage {
  @include calc( width, '100% - 2 *' + $margin);
  @include calc( height, '100% - 2 *' + $margin);
  margin: $margin;
  h1 {
    margin: 0px;
  }
}

#homeOnlineText {
  height: 30%;
  text-align: center;
  display: flex;
}

#buttonEventAccess {
  @include shadowBox($gray);
  margin: auto;
  font-size: 30px;
  padding: 20px;
  background-color: white;
  border: none;
}

#buttonEventAccess:focus {
  border-style: none !important;
}

#buttonEventAccess:hover {
  background: $gray;
  cursor: pointer;
  opacity: 0.75;
}
