#homeOnlinePage {
  @include calc( width, '100% - 2 * ' + $margin);
  @include calc( height, '100% - 2 * ' + $margin);
  margin: $margin;
}

#homeOnlineButtons {
  height: 30%;
  text-align: center;
  display: flex;
}
