@import "./variables";
@import "./mixins";
@import "./components/drawer";
@import "./components/navbar";
@import "./components/carousel";
@import "./components/form";
@import "./components/event";
@import "./components/eventList";
@import "./components/searchController";
@import "./containers/onlineContainer";
@import "./containers/offlineContainer";
@import "./containers/online_pages/eventPage";
@import "./containers/online_pages/homePage";
@import "./containers/online_pages/eventCreationPage";
@import "./containers/online_pages/activityCreationPage";

@mixin default() {
  font-family: Roboto, sans-serif;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: $primaryColor;
}

html {
  @include default();
  body {
    @include default();
    #app {
      @include default();
    }
    #app > div {
      height: 100%;
    }
  }
}
