@import "./variables";
@import "./mixins";
@import "./components/drawer";
@import "./components/navbar";
@import "./components/carousel";
@import "./components/form";
@import "./containers/onlineContainer";
@import "./containers/offlineContainer";
@import "./containers/online_pages/eventPage";
@import "./containers/online_pages/homePage";

@mixin default() {
  font-family: Roboto, sans-serif;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

html {
  @include default();
  body {
    @include default();
    #app {
      @include default();
    }
  }
}
