$gray: rgba(0,0,0,0.20);
$imgHeight: 200px;
$searchControllerHeigth: 125px;
$transitionTime: 1s;
$heightNavbar: 64px;
$heightBtnDeploy: 50px;
$margin: 20px;
$fontSize: 20px;
$heightNavbarFull: 116px;
$heightMinCarouselOffline : 600px;

$primaryColor: #fb8c00;
$secondaryColor: white;


$breakpoints: (
  'small': 900px,
  'large': 1400px
);

$widthDrawerLeft: (
  'mobile': 100%,
  'medium': 15%,
  'large': 15%
);
