#homeOfflinePage {
  @include calc(height, "100% - " + $heightNavbar + " - 2 * " + $margin);
  @include calc(width, "100%  - 2 * " + $margin);
  margin: $margin;

  .carousel {
    display: none;

    @include respond-to(medium) {
      @include shadowBox($gray);
      @include calc(width, "50%  -  " + $margin + " / 2");
      margin-left: $margin / 2;
      display: block;
      float: right;
    };
  }

  .form {
    @include shadowBox($gray);
    @include respond-to(medium) {
      @include calc(width, "50%  -  " + $margin + " / 2");
      vertical-align: top;
      margin-right: $margin / 2;
      display: block;
      float: left;
    };
  }
}

#inscriptionPage {
  @include calc(height, "100% - " + $heightNavbar + " - 2 * " + $margin);
  @include calc(max-width, "100%  - 2 * " + $margin);
  margin: $margin;

  @include respond-to(medium) {
    margin-left: auto;
    margin-right: auto;
  };
}

.link {
  text-decoration: underline;
  margin-bottom: 15px;
  cursor: pointer;
}

div.link:hover {
  color: $primaryColor;
}
