#homeOfflinePage {
  margin: 2%;

  .carousel {
    display: none;

    @include respond-to(medium) {
      display: block;
      @include shadowBox($gray);
      width: 48%;
      float: right;
    };
  }

  .form {
    @include shadowBox($gray);
    @include respond-to(medium) {
      float: left;
    };
  }
}

#inscriptionPage {
  margin: 2%;

  @include respond-to(medium) {
    margin-left: auto;
    margin-right: auto;
  };
}

.link {
  text-decoration: underline;
  margin-bottom: 15px;
  cursor: pointer;
}

div.link:hover {
  color: rgb(48, 63, 159);
}
