#homeOfflinePage {
  margin: 20px;
  @include calc(height, "100% - " + $heightNavbar + " - 40px");
}

#carousel {
  width: 48%;
  height: 85%;
  float: left;
  margin-right: 2%;
}

#formulaire {
  width: 48%;
  height: 85%;
  overflow: auto;
}
