@mixin page($width) {
  height: auto;
  padding-left: 20px;
  width: $width;
}

#container {
  width: 100%;
  height: 100% - map-get($heightNavbar, mobile);
  display: inline-flex;

  @include respond-to(medium) {
    height: 100% - map-get($heightNavbar, medium);
  }
  @include respond-to(large) {
    height: 100% - map-get($heightNavbar, large);
  }
}

#pageReduced {
  @include page(100% - map-get($widthDrawerLeft, mobile));
  @include respond-to(medium) {
    width: 100% - map-get($widthDrawerLeft, medium)
  };
  @include respond-to(large) {
    width: 100% - map-get($widthDrawerLeft, large)
  };
}

#pageExtended {
  @include page(100%);
}
